body{
    background:rgba(250, 235, 215,0.7);
    font-family: Arial;
}
#content{
    margin:200px;
    
    
    
}
#images{
    margin-top:-350px;
    margin-right:-50px;
    margin-bottom:-50px;
}
a{
    text-decoration:none;
    color:black;
    margin-left:30px;
    font-size:25px;
}
#navbar{
    margin-left:50px;
    margin-top:11px;
}
h1{
    font-size:45px;
}













